@charset "utf-8";


/* Nanum Gothic */
@font-face {
	Font-family: 'NanumGothicWeb';
	Font-weight: 100;
	Src: Url(../fonts/NanumGothic.eot) Format('embedded-opentype'),
		 Url(../fonts/NanumGothic.otf) Format('opentype'),
		 Url(../fonts/NanumGothic.ttf) Format('truetype'),
		 Url(../fonts/NanumGothic.woff) Format('woff');
}


@font-face {
	Font-family: 'NanumGothicWeb';
	Font-weight: 300;
	Src: Url(../fonts/NanumGothic.eot) Format('embedded-opentype'),
		 Url(../fonts/NanumGothic.otf) Format('opentype'),
		 Url(../fonts/NanumGothic.ttf) Format('truetype'),
		 Url(../fonts/NanumGothic.woff) Format('woff');
}

@font-face {
	Font-family: 'NanumGothicWeb';
	Font-weight: 500;
	Src: Url(../fonts/NanumGothic.eot) Format('embedded-opentype'),
		 Url(../fonts/NanumGothic.otf) Format('opentype'),
		 Url(../fonts/NanumGothic.ttf) Format('truetype'),
		 Url(../fonts/NanumGothic.woff) Format('woff');
}

@font-face {
	Font-family: 'NanumGothicWeb';
	Font-weight: 700;
	Src: Url(../fonts/NanumGothic.eot) Format('embedded-opentype'),
		 Url(../fonts/NanumGothic.otf) Format('opentype'),
		 Url(../fonts/NanumGothic.ttf) Format('truetype'),
		 Url(../fonts/NanumGothic.woff) Format('woff');
}

@font-face {
	Font-family: 'NanumGothicWeb';
	Font-weight: 900;
	Src: Url(../fonts/NanumGothic.eot) Format('embedded-opentype'),
		 Url(../fonts/NanumGothic.otf) Format('opentype'),
		 Url(../fonts/NanumGothic.ttf) Format('truetype'),
		 Url(../fonts/NanumGothic.woff) Format('woff');
}

@font-face {
	Font-family: 'NanumGothicWeb';
	Font-weight: 1000;
	Src: Url(../fonts/NanumGothic.eot) Format('embedded-opentype'),
		 Url(../fonts/NanumGothic.otf) Format('opentype'),
		 Url(../fonts/NanumGothic.ttf) Format('truetype'),
		 Url(../fonts/NanumGothic.woff) Format('woff');
}


/* Noto Sans KR */

@font-face {
	Font-family: 'Noto Sans KR';
	Font-style: Normal;
	Font-weight: 100;
	Src: Url(../fonts/NotoSansKR-Thin.woff2) Format('woff2'),
		 Url(../fonts/NotoSansKR-Thin.woff) Format('woff'),
		 Url(../fonts/NotoSansKR-Thin.otf) Format('opentype');
}

@font-face {
	Font-family: 'Noto Sans KR';
	Font-style: Normal;
	Font-weight: 300;
	Src: Url(../fonts/NotoSansKR-Light.woff2) Format('woff2'),
		 Url(../fonts/NotoSansKR-Light.woff) Format('woff'),
		 Url(../fonts/NotoSansKR-Light.otf) Format('opentype');
}

@font-face {
	 Font-family: 'Noto Sans KR';
	 Font-style: Normal;
	 Font-weight: 400;
	 Src: Url(../fonts/NotoSansKR-Regular.woff2) Format('woff2'),
		Url(../fonts/NotoSansKR-Regular.woff) Format('woff'),
		Url(../fonts/NotoSansKR-Regular.otf) Format('opentype');
}

@font-face {
	 Font-family: 'Noto Sans KR';
	 Font-style: Normal;
	 Font-weight: 500;
	 Src: Url(../fonts/NotoSansKR-Medium.woff2) Format('woff2'),
		Url(../fonts/NotoSansKR-Medium.woff) Format('woff'),
		Url(../fonts/NotoSansKR-Medium.otf) Format('opentype');
}

@font-face {
	 Font-family: 'Noto Sans KR';
	 Font-style: Normal;
	 Font-weight: 700;
	 Src: Url(../fonts/NotoSansKR-Bold.woff2) Format('woff2'),
		Url(../fonts/NotoSansKR-Bold.woff) Format('woff'),
		Url(../fonts/NotoSansKR-Bold.otf) Format('opentype');
}

@font-face {
	 Font-family: 'Noto Sans KR';
	 Font-style: Normal;
	 Font-weight: 900;
	 Src: Url(../fonts/NotoSansKR-Black.woff2) Format('woff2'),
		Url(../fonts/NotoSansKR-Black.woff) Format('woff'),
		Url(../fonts/NotoSansKR-Black.otf) Format('opentype');
}